@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #14182ef6;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}
